{% load static %}


<!DOCTYPE html>
<html lang="en">

{% load i18n %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Set">
</form>



<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Django Tutorial - {% block title %} {% endblock title %}</title>

  <!-- Bootstrap c
  ore CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">News Portal</a>
      <a class="navbar-brand" href="#">{{ user.username }}</a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>


      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="#">{% translate 'Home' %}<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/news/">{% translate 'News' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/news/search/">{% translate 'Search' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/news/create/">{% translate 'Create' %}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/make_appointment/">{% translate 'Make an appointment' %}</a>
          </li>

          {% if is_not_premium %}
          <li class="nav-item">
            <button1> <a class="nav-link" href="sign/upgrade/">{% translate 'To became an author' %}</a></button1>
          </li>
          {% endif %}

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/accounts/logout/">{% translate 'Quit' %}</a>
            </li>
          {% endif %}





        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
       {% block content %}
       {{ flatpage.content }}
       {% endblock content %}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>


