<! -- наследование шаблона default -->
{% extends 'flatpages/default.html' %}
{% load tz %}

{% block title %} News {% endblock title %}

{% load custom_filters %}

<! -- начало контента -->
{% block content %}

 <!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
<style>
    body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>

<!--You can get the name of the current time zone using the get_current_timezone tag:-->
{% get_current_timezone as TIME_ZONE %}
<form action="" method="POST">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set">
</form>


{{ TIME_ZONE }}
{{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->




<h1>Новости</h1>
<h6>Количество новостей (вариант 1): {{ posts_qty }}</h6>
<h6>Количество новостей (вариант 2): {{ post_list|length }}</h6>
{# <hr> #}
{# <h6>Список новостей: {{ post_list }}</h6> #}


<hr>



<hr>




{% if post_list %}
    <table>
        <tr>
            <td>
                <b>
                    № поста
                </b>
            </td>
            <td>
                <b>
                    Заголовок
                </b>
            </td>

            <td>
                <b>
                    Дата публикации в формате (день.месяц.год)
                </b>
            </td>
            <td>
                <b>
                    Первые 20 слов текста статьи
                </b>
                <b>
                    Категория статьи
                </b>
            </td>
        </tr>
        {% for post in post_list %}
        <tr>
            <td>
                {{ post.id }}
            </td>
            <td>
                <!-- гиперсслыка -->
                <a href="{% url 'post_details' post.id %}"> {{ post.title|default:"Без заголовка"|truncatewords:4|censor:'***' }}
                <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
                <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
            </td>
            <td>
                {{ post.date_created|default:"Без даты" }}
            </td>
            <td>
                {{ post.content|truncatechars:20|censor:'***' }}
            </td>

             <td>

                 {{ post.post_category__article_category }}

                {% for category in category %}
                    {{ category.article_category }}
                {% endfor %}
            </td>




        {% endfor %}
        </tr>
    </table>
{% else %}
<h2>
    Новостей нет!
</h2>
{% endif %}


<br>

<!-- блок пагинатора -->
{% load my_tags %}

{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">First</a>
    {% if page_obj.previous_page_number != 1 %}
      <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
    {% endif %}
  {% endif %}

  Page {{ page_obj.number }} of {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
  {% endif %}

  <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
{% endif %}
<!-- блок пагинатора -->



<! -- конец контента -->
{% endblock content %}